.footerDiv{
    height: 80px;
    background-color: var(--azul-oscuro);

    position: absolute;
    padding: 10px 30px 0px 10px;

    width: 100%;

    // bottom: 0;
    // left:0;
    // z-index: 1;
}