.mainDivSala{
    background-color: var(--azul-claro);
    border-radius: 27px;
    padding: 20px
}

p {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    border: solid;
    border-width: thin;
}

.botonSala{
    margin-top: 1em;
    //width: 50%;
    //position:absolute;
    //right:0px;
}

.inputSala{
    background-color: white !important;
    //icon 
    padding-right: 30px !important;
    background: url("../../percentage.png") no-repeat calc(100% - 15px);
    background-size: 10px;
}

.myBotonEliminar{

    &:hover {
        color:red
    }
}