.headerDiv{
    height: 80px;
    width:100%;
    background-color: var(--azul-oscuro);
    padding-left:10px;
    // top: 0;
    // left:0;
    // position: fixed;
    // z-index: 1;
}

@media screen and (max-width: 470px){
    #containerSalas{
        .headerDiv{
            place-content: center center !important;
        }
        
    }

}
